[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin allows running browser.
Comment[es]=Este complemento permite ejecutar un navegador.
Comment[nl]=Deze plugin staat het uitvoeren van de browser toe.
Comment[pt]=Este 'plugin' permite a execução de um navegador.
Comment[pt_BR]=Este plugin permite a execução de um navegador.
Comment[sk]=Tento plugin umožňuje spustiť prehliadač.
Comment[sv]=Insticksprogrammet gör det möjligt att köra en webbläsare.
Comment[uk]=За допомогою цього додатка можна запускати інструмент перегляду.
Comment[x-test]=xxThis plugin allows running browser.xx
Name=Execute Browser
Name[de]=Webbrowser ausführen
Name[es]=Ejecutar navegador
Name[nl]=Browser uitvoeren
Name[pt]=Executar um Navegador
Name[pt_BR]=Executar um Navegador
Name[sk]=Spustiť prehliadač
Name[sv]=Kör webbläsare
Name[uk]=Запуск інструмента перегляду
Name[x-test]=xxExecute Browserxx
GenericName=Browser Execution Support
GenericName[es]=Implementación de ejecución de navegador
GenericName[nl]=Ondersteuning voor uitvoeren van de browser
GenericName[pt]=Suporte para a Execução de Navegadores
GenericName[pt_BR]=Suporte para a execução de navegadores
GenericName[sk]=Podpora spustenia prehliadača
GenericName[sv]=Stöd för körning av webbläsare
GenericName[uk]=Підтримка запуску інструментів перегляду
GenericName[x-test]=xxBrowser Execution Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevexecutebrowser
X-KDevelop-Version=14
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevexecutebrowser
X-KDE-PluginInfo-Author=Niko Sams
X-KDE-PluginInfo-License=GPL
X-KDevelop-Interfaces=org.kdevelop.IExecuteBrowserPlugin
X-KDevelop-Mode=NoGUI
