[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin allows running browser.
Comment[ca]=Aquest connector permet executar el navegador.
Comment[ca@valencia]=Este connector permet executar el navegador.
Comment[en_GB]=This plugin allows running browser.
Comment[es]=Este complemento permite ejecutar un navegador.
Comment[et]=See plugin võimaldab käivitada brauserit.
Comment[fr]=Ce module externe permet de lancer le navigateur.
Comment[it]=Questa estensione consente di avviare il browser.
Comment[pt]=Este 'plugin' permite navegar pelas execuções.
Comment[pt_BR]=Este plugin permite navegar pelas execuções.
Comment[sv]=Insticksprogrammet tillåter körning av webbläsare.
Comment[tr]=Bu eklenti tarayıcının çalıştırılmasına zin verir.
Comment[uk]=За допомогою цього додатка можна запускати інструмент перегляду.
Comment[x-test]=xxThis plugin allows running browser.xx
Name=Execute Browser
Name[ca]=Executa el navegador
Name[ca@valencia]=Executa el navegador
Name[en_GB]=Execute Browser
Name[es]=Ejecutar navegador
Name[et]=Brauseri käivitamine
Name[fr]=Lancer le navigateur
Name[it]=Esegui browser
Name[pa]=ਬਰਾਊਜ਼ਰ ਚਲਾਓ
Name[pt]=Navegador de Execuções
Name[pt_BR]=Navegador de Execuções
Name[sv]=Kör webbläsare
Name[tr]=Tarayıcıyı Çalıştır
Name[uk]=Запуск інструменту перегляду
Name[x-test]=xxExecute Browserxx
GenericName=Browser Execution Support
GenericName[ca]=Implementació d'execució del navegador
GenericName[ca@valencia]=Implementació d'execució del navegador
GenericName[en_GB]=Browser Execution Support
GenericName[es]=Implementación de la ejecución de navegador
GenericName[et]=Brauseri käivitamise toetus
GenericName[fr]=Prise en charge de l'exécution du navigateur
GenericName[it]=Supporto per l'esecuzione del browser
GenericName[pt]=Suporte à Navegação de Execuções
GenericName[pt_BR]=Suporte à Navegação de Execuções
GenericName[sv]=Stöd för körning av webbläsare
GenericName[tr]=Tarayıcı Çalıştırma Desteği
GenericName[uk]=Підтримка запуску інструментів перегляду
GenericName[x-test]=xxBrowser Execution Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevexecutebrowser
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevexecutebrowser
X-KDE-PluginInfo-Author=Niko Sams
X-KDE-PluginInfo-License=GPL
X-KDevelop-Interfaces=org.kdevelop.IExecuteBrowserPlugin
X-KDevelop-Mode=NoGUI
