[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin allows running browser.
Comment[da]=Dette plugin lader dig køre en browser.
Comment[en_GB]=This plugin allows running browser.
Comment[es]=Este complemento permite ejecutar un navegador.
Comment[et]=See plugin võimaldab käivitada brauserit.
Comment[fr]=Ce module externe permet de lancer un navigateur.
Comment[it]=Questa estensione permette l'esecuzione del browser.
Comment[pt]=Este 'plugin' permite a execução de um navegador.
Comment[pt_BR]=Este plugin permite navegar pelas execuções.
Comment[sv]=Insticksprogrammet tillåter körning av webbläsare
Comment[uk]=За допомогою цього додатка можна запускати інструмент перегляду.
Comment[x-test]=xxThis plugin allows running browser.xx
Comment[zh_CN]=此插件可以运行浏览器。
Name=Execute Browser
Name[da]=Kør browser
Name[de]=Browser ausführen
Name[en_GB]=Execute Browser
Name[es]=Ejecutar navegador
Name[et]=Brauseri käivitamine
Name[fr]=Exécution d'un navigateur
Name[it]=Esegui browser
Name[pt]=Executar um Navegador
Name[pt_BR]=Navegador de execuções
Name[sv]=Kör webbläsare
Name[uk]=Запуск інструмента перегляду
Name[x-test]=xxExecute Browserxx
Name[zh_CN]=运行浏览器
GenericName=Browser Execution Support
GenericName[da]=Understøttelse af browser-kørsel
GenericName[en_GB]=Browser Execution Support
GenericName[es]=Implementación de la ejecución del navegador
GenericName[et]=Brauseri käivitamise toetus
GenericName[fr]=Prise en charge de l'exécution d'un navigateur
GenericName[it]=Supporto esecuzione del browser
GenericName[pt]=Suporte para a Execução de Navegadores
GenericName[pt_BR]=Suporte à Navegação de Execuções
GenericName[sv]=Stöd för körning av webbläsare
GenericName[uk]=Підтримка запуску інструментів перегляду
GenericName[x-test]=xxBrowser Execution Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevexecutebrowser
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevexecutebrowser
X-KDE-PluginInfo-Author=Niko Sams
X-KDE-PluginInfo-License=GPL
X-KDevelop-Interfaces=org.kdevelop.IExecuteBrowserPlugin
X-KDevelop-Mode=NoGUI
